---
import d from "../siteContent.json";
import "../css/global.css";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import Form from "../components/Form.svelte";

let darkMode = false;

let toggler = () => {
	console.log("TOGGLING!: ", darkMode);
}

const title = "אנחנו Forweb, נעים מאוד!";
---

<html lang="en" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.svg">
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Forweb Software Development | Forweb.co.il" />
		<meta property="og:description" content="We Create Stunning Marketing Websites, Ecommerce, and Web Applications For Businesses" />
		<meta property="og:image" content="/assets/OpenGraph.jpg" />
		<title>{title}</title>
	</head>

	<body class="wrapper">
		<Header darkMode={darkMode} client:only toggler={toggler} />


			<section class="flow">
				<h2 class="flow">מי אנחנו?</h2>
				<h4>
					אהלן, שמי בוריס, נעים מאוד.
				</h4>

				<p>
אני בכלל עובד סוציאלי במקצועי, עם ניסיון בניהול צוותים ועבודה עם מגוון אוכלוסיות, כמו נפגעי נפש, ילדים על הרצף, מכורים. אז איך זה קשור לסוכנות דיגיטל? ובכן, מי שמכיר אותי יודע שעל אף הכשרתי הרשמית, הלב שלי וגם המוח שלי רוטטים משמחה כאשר מדובר בעיצוב ופיתוח מוצרים יפים ומגניבים. מהתשוקה הזאת הקמתי את Forweb, ועל אף שהיה לא פשוט בהתחלה, היה לי ברור שאני לא מוותר! 
 </p>
 <p>
הקמתי את Forweb מתוך תשוקה ואהבה לתחום הפיתוח והעיצוב ורצון להנגיש שירות לא מתפשר לבעלי עסקים קטנים. בעולם שבו הנוכחות באונליין משקפת ומייצגת חלק חיוני של כל עסק, הקמת אתר לא מספיקה - עסקים זקוקים לאתר טוב המשקף ומספר את הסיפור שלהם. וזה הדבר שבא לי לעשות, לעצב אתר שמדבר את החזון והסיפור של העסק ולפתח אותו כך שלא יהפוך לנטל לבעל העסק.
 </p>

				<h4>
					למה Forweb?
				</h4>
 <p>
בתחילת הדרך, ניסיתי לתת מענה לכל לקוח בין אם בתשלום ובין אם לא. דאגתי להסביר לכוון ולייעץ כי אהבתי לעשות זאת ובזכות זאת, למדתי שכדאי ומוטב לי וגם לשם הצלחתה של Forweb, שאתמקד במה שאני הכי אוהב והכי טוב בו. אז הפסקנו לשווק, לפרסם ולעצב פלייארים, ושינינו פוקוס: עיצוב ופיתוח בלבד.
 </p>

 <p>
אתגר נוסף היה החשיפה לכמות הפרילנסרים ובוני האתרים הקיימים בשוק, ובקבוצות הפייסבוק בפרט. לשמחתי, מהר מאוד הבנתי שהם לא בהכרח המתחרים שלי. אני לא מציע אתר ב 600₪ ולא ב 1,600₪, כדי שאוכל לכבד את הלקוחות שלי, את הזמן שלהם, מוטב שאכבד גם את הזמן שלי.
 </p>

 <p>
דבר חיוני אשר מבדיל, אני רוצה להאמין לפחות, את Forweb מרוב השוק, הוא כי אנחנו בונים פתרונות בהתאמה לצרכי הלקוח מהשורש. אנחנו לא מתאימים את צרכי הלקוח לפתרונות קיימים ואז כל תוסף נוסף מוסיף עוד ועוד זבל לאתר עד שהאתר בקושי זז ואז הלקוח מחפש ״אופטימיזציה״ שעולה הרבה כסף. אלא אם כן שוב שוכרים פרילנסר זול שעושה יותר נזק מטוב ואז או שאתם שופכים כסף על בנייה מחדש, שדרוג, שפצור או עוד כול מיני דברים בסגנון. 
 </p>

 <p>
אנחנו לא נמנעים או נרתעים מאתרי WordPress או Shopify, ממש לא! יש אתרים ברמה גבוהה מאוד אשר בנויים על הבסיס של שני אלו, אבל ברוב המקרים, סוכנויות ברמות גבוהות אחראיות עליהן ומתחזקות אותן טיפ-טופ ורק נאמר שלרוב העסקים הקטנים אין תקציב ובצדק לשפוך על עבודה של סוכניות כאלו.
 </p>
 <p>
	 לכן, Forweb קיימת. אנחנו משתמשים בטכנולוגיות שונות אשר ניתן לראות<a class="link" href="/#tech"> כאן.</a> אנחנו משקיעים מחשבה כך שהאתר לא יהפוך לנטל ברגע שתרצו לשנות משהו קטן באתר וכד׳. אנחנו מתגאים מאוד בביצועי האתרים שאנחנו משחררים לאור.
 </p>

 <h4>
	 לא אני, אנחנו!
 </h4>
 <p>
החלטה חשובה שעשיתי מאז תחילת דרכה של Forweb, היא לצרף פרילנסרים איכותיים על מנת לשפר ולחזק את איכות השירות שהנכם מקבלים מאתנו! אני מנסה להתרגל לאמר ״אנחנו״ כי זה כבר לא רק ״אני״, וזה לא פחות ממרגש.

במידה וכל זה מדבר אליכם, אל תהססו לפנות אלינו. אנחנו נשמח לעבוד ביחד!
 </p>


				<p>
					אחד הדברים שהבחנתי בהם מהר מאוד זה תחרות מטורפת של פרילנסרים ובוני אתרים למיניהם אשר מציעים שירותי דיגיטל כמעט בחינם, מה שמצמצם את המרחק בין ישראל להודו משמעותית, אבל מהר מאוד הבנתי שזה בסדר, לפחות מבחינתי.

					Forweb לא מתחרה בפרילנסרים האלו. Forweb מציעה שירות אחר למי שצריך אותו. <strong>עיצוב ופיתוח</strong> אחרים. למעט מקרים מסוימים, אנחנו בוחרים לעבוד בשיטה אחרת. אנחנו כותבים קוד, אנחנו נמנעים מ Bloat כמה שניתן! אנחנו נגד זיהום קוד וחניקת ביצועים של האתרים שאנחנו בונים. אנחנו כותבים קוד חכם ויעיל ככל שניתן ותמיד שואפים להשתפר מקצועית בגזרות עליהן אנו אמונים.
				</p>
			</section>

		<section id="contact-form" class="region">
			<h2>{d.contact.title}</h2>
			<div class="wrapper border-top">

				<Form client:load />

			</div>
		</section>

		<Footer />
  </body>
</html>
